.heroWrap {
  position: relative;
  height: 75vh;
  min-height: 480px;
  overflow: hidden;
}
.carousel .slide img {
  height: 60vh;
  object-fit: cover;
}
.heroWrap img{
  filter: blur(3px) brightness(0.5) contrast(1);
}
.content span{
  color: #ff6600;
}
.content {
  position: absolute;
  inset: 0;
  place-items: center;
  color: #fff;
  text-align: center;
  z-index: 2;
  top: 200px;
  /* padding: 0 16px; */
}
.content h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 900;
  margin: 0;
}
.content p {
  margin: 10px 0 100px;
  opacity: 0.9;
}
.cta {
  background:  #ff6600;
  color: #111827;
  margin-top: 50px;
  padding: 12px 18px;
  border-radius: 999px;
  font-weight: 800;
  text-decoration: none;
  color: black;        /* default text color (maybe black/green/orange) */
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* Hover effect */
.cta:hover {
  color: white;          /* text white on hover */
}

@media (max-width: 768px) {
  .cta{
    display:none
  }
  .carousel .slide img {
  height: 50vh;
  object-fit: cover;
}
.heroWrap {
  position: relative;
  min-height: 27vh;
  height: 27vh;
  overflow: hidden;
}
.content {
  height: 100px;
  top:100px;
}
.content span{
  color: #ff6600;
}
}


@media (max-width: 360px) {
  .cta{
    display:none
  }
  .carousel .slide img {
  height: 50vh;
  object-fit: cover;
}
.heroWrap {
  position: relative;
  min-height: 30vh;
  height: 30vh;
  overflow: hidden;
}
.content {
  height: 100px;
  top:100px;

}
}