.wrapper {
  min-height: 100vh;
}
.whatsappFloat {
  position: fixed;
  right: 16px;
  bottom: 16px;
  background: none;          /* background remove */
  padding: 0;                /* no extra padding */
  border-radius: 1000%; 
  height: 50px;
  width: 50px;       /* circular, optional */
  color:#ff6600 ;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s;
}

.whatsappFloat:hover {
  color: #ff6600; 
  border: white solid;/* hover te text white ho jaye */
}
